@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
